.pres-main1 {
  width: 80%;
  float: right;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8%;
  margin-right: 15px;
  margin-bottom: 20px;
}
.pres_title
{
  margin-right: 30px;
  /* border: 1px solid black; */
  margin-top: 100px;
  margin-bottom: 25px;
    height: auto;
    width: auto;
    text-align: center;
    color: dodgerblue;
    text-shadow: 0 10px 10px rgb(121, 174, 228);
    text-decoration: underline;
}
  .form1
  {
    /* border: 1px solid black; */
    margin-top: 1%;
    /* margin-bottom: 3%; */
    height: auto;
    width: 80%;
    
    font-size:large;
    
  }
  .form1a
  {
    /* border: 1px solid black; */
    /* margin-bottom: 3%; */
    height: auto;
    width: 48%;
    /* text-align: center; */
    font-size:large;
    /* display: inline-block; */
    float: left;
  }
  .form1b
  {
    /* border: 1px solid black; */
    /* margin-bottom: 3%; */
    
    width: 48%;
    /* text-align: center; */
    font-size:large;
    /* display: inline-block; */
    float: right;
  }
  .form1c{
    /* border: 1px solid black; */
    /* margin-bottom: 3%; */
    height: auto;
    width: 100%;
    /* text-align: center; */
    font-size:large;
    /* display: inline-block; */
    float: right;
  }
  .form1c textarea{
      height: 100px;
      width: 100%;
      margin: 8px 0;
      padding: 12px 20px;
      box-sizing: border-box;
      border-radius: 10px;
      border: 2px solid black;
  }
  label{
    float: left;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: 1px solid dodgerblue;
  }
  
  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: 1px solid dodgerblue;
  }
  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: 1px solid dodgerblue;
  }
input[type=checkbox] {
     width: 40px;
     height:20px; 
}
  
  .btn-pre
  {
    margin-top: 2%;
    /* border: 1px solid black; */
    height: auto;
    width: 80%;
  }
  .btn1-pre{
    border: none;
    height: 40px;
    width: 110px;
    font-size:medium;
    float: right;
    background-color: dodgerblue;
    color: white;
    text-shadow: 2px 2px 5px white;
    border-radius: 20px;
  }
  .btn1-pre:hover{
    background-color: white;
    box-shadow: 0 10px 10px rgb(154, 192, 230);
    color: dodgerblue;
    text-shadow: 2px 2px 5px rgb(186, 213, 241);
  }

  .add-med-btn
  {
    margin-top: 2%;
    /* border: 1px solid black; */
    height: auto;
    width: 80%;
  }
  .add-med-btn1{
    border: none;
    height: 40px;
    width: 150px;
    font-size:medium;
    float: right;
    background-color: dodgerblue;
    color: white;
    text-shadow: 2px 2px 5px white;
    border-radius: 20px;
  }
  .add-med-btn1:hover{
    background-color: white;
    box-shadow: 0 10px 10px rgb(154, 192, 230);
    color: dodgerblue;
    text-shadow: 2px 2px 5px rgb(186, 213, 241);
  }
