.app_main {
    /* border: 1px solid black; */
    width: 80%;
    float: right;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
    margin-right: 15px;
  }
  .app_title
  {
    margin-right: 30px;
    /* border: 1px solid black; */
    margin-top: 100px;
    margin-bottom: 25px;
    height: auto;
    width: auto;
    text-align: center;
    color: dodgerblue;
    text-shadow: 0 10px 10px rgb(121, 174, 228);
    text-decoration: underline;
  }
  .per_info_table{
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table3{
    text-align: center;
    width: 80%;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    margin-right: 20px;
    font-size: x-large;
    color: black;
    text-shadow: 0 10px 10px rgb(121, 174, 228);
  }
  .t3-tr{
    height: 40px;
  }
  .t3-td:hover{
    color: dodgerblue;
  }
  .loader1{
    margin-top: 25%;
    margin-left: 55%;
  }  /* .per_info_table table,th,td{
    
    font-size: x-large;
    color: black;
    text-shadow: 0 10px 10px rgb(121, 174, 228);
    
  }
  .per_info_table table{
    width: 80%;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    margin-right: 20px;
  }
  .per_info_table td,th{
    text-align: center;
    
  }
  .per_info_table table tr{
    height: 40px;
  }
  .per_info_table td:hover{
    color: dodgerblue;
  } */
