.slide-bar {
  margin-top: 6%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 17%;
  background: rgb(254,254,254);
  background: linear-gradient(180deg, rgba(254,254,254,1) 21%, rgba(153,201,247,1) 100%);
  color: black;
  padding: 10px;
  box-shadow: 5px 0px 10px 0px rgba(10, 12, 14, 0.2);
  /* z-index: 1; Ensure the sidebar appears above other elements */
}
.slide-bar-menu {
  list-style: none;
  padding: 15px 0 0 30px;
  margin: 0;
  
}
.slide-bar-item {
  margin-bottom: 15px;
  font-size: 20px;
  color: dodgerblue;
  text-shadow: 0 10px 10px rgb(121, 174, 228);
}
.slide-bar-item:hover{
  color: rgb(10, 52, 93);
  text-shadow: 0 10px 10px rgb(121, 174, 228);
}
.slide-bar-item.active {
  color: rgb(10, 52, 93);
  text-shadow: 0 10px 10px rgb(121, 174, 228);
}